---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About the Math Club"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Sept 10, 2024')}
>	
	<h3>
		Mission
	</h3>

	<p>
		Our core mission is to propagate the passion for mathematics to everyone at Peddie. Regardless of their
		mathematical prowess, everyone can participate and engage in establishing an inclusive community of
		thinkers. We will create a comfortable space for avid mathematicians to express their passion that
		will emanate to other students at Peddie. We will offer opportunities to Peddie Students in a broader
		scope not restricted to the classroom and the traditional math curriculum, paving the way to develop
		intellectual talents capable of altering the globe.
	</p>
	<p>
		If you want to learn more about the organization of our club, click <a href="/constitution">here</a> to read our constitution.
	</p>

	<h3 id="meetourteam">
		Meet our Team
	</h3>

	<!-- Team Introduction Section -->
	<div class="team-container">
		<div class="team-member-faculty">
			<img class="team-member-picture" src="/gkoch.jpg" alt="Image of Mr. Koch">
			<h4 class="officer-small-margin">Mr. Koch</h4>
			<p class="officer-small-margin">Math Department Chair
			<!-- <br><a href="/bio1">Read Bio</a> -->
			</p>
		</div>
		<div class="team-member-faculty">
			<img class="team-member-picture" src="/vmontgomery.jpg" alt="Image of Mrs. Montgomery">
			<h4 class="officer-small-margin">Mrs. Montgomery</h4>
			<p class="officer-small-margin">Faculty Advisor
			<!-- <br><a href="/bio2">Read Bio</a> -->
			</p>
		</div>
	</div>


	<div class="team-container">
		<div class="team-member">
			<img class="team-member-picture" src="/blog-placeholder-2.jpg" alt="Image of Jerry Liu">
			<h4 class="officer-small-margin">Jerry Liu</h4>
			<p class="officer-small-margin">President
			<!-- <br><a href="/bio1">Read Bio</a> -->
			</p>
		</div>
		<div class="team-member">
			<img class="team-member-picture" src="/blog-placeholder-3.jpg" alt="Image of Mark Zhao">
			<h4 class="officer-small-margin">Mark Zhao</h4>
			<p class="officer-small-margin">Vice-President
			<!-- <br><a href="/bio2">Read Bio</a> -->
			</p>
		</div>
		<div class="team-member">
			<img class="team-member-picture" src="/blog-placeholder-4.jpg" alt="Image of Jayden Li">
			<h4 class="officer-small-margin">Jayden Li</h4>
			<p class="officer-small-margin">Secretary
			<!-- <br><a href="/bio3">Read Bio</a> -->
			</p>
		</div>
	</div>
</Layout>
