---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Peddie Math Club 🤓</h1>
			<p>
				Welcome to the Peddie Math Club Page. We are a group of students passionate about spreading the love of mathematics to other people. 
			</p>
			<h2>
				Events
			</h2>
		</main>
		<Footer />
	</body>
</html>
